// Константы
$blue : #5199db;

// Иконочный шрифт
@font-face {
  font-family: 'konturfont';
  src: url('../fonts/konturfont.eot');
  src: url('../fonts/konturfont.eot') format('embedded-opentype'),
       url('../fonts/konturfont.woff') format('woff'),
       url('../fonts/konturfont.ttf') format('truetype'),
       url('../fonts/konturfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Segoe UI
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.i-icon {
  position: relative;

	&:before {
    font-family: "konturfont";
    font-style: normal;
    font-weight: normal;
    speak: none;
    position: absolute;
    left: 7px;
    line-height: 28px;
	}

  // &:focus {
  //   &:before {
  //     line-height: 24px;
  //   }
  // }

  &_plus {
    &:before {
      content: "\e801";
    }
  }

  &_minus {
    &:before {
      content: "\e802";
    }
  }

  &_clean {
    &:before {
      content: "\e803";
    }
  }

  &_swap {
    &:before {
      content: "\e804";
    }
  }
}